@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.container {
  display: grid;
  justify-content: center;
}

.input {
  width: 253px;
  height: 40px;
  margin-bottom: 10px;
  background-color: whitesmoke;
  border: none;
  border-radius: 3px;

}

.inputText {
  text-align: center;
  margin-top: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.inputBut {
  width: 258px;
  height: 40px;
  border: none;
  border-radius: 3px;
  background-color: rgb(19, 180, 110);
  color: white;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Trispace', sans-serif;
  cursor: pointer;
}

.inputBut:active {
  content: "Copied";
  color: black;
}

.clipboard {
  background-color: rgb(19, 180, 110);
  border: none;

  padding: 10px;
  margin-top: 16px;
  margin-bottom: 16px;

}

.linkBoard {
  background-color: rgb(19, 180, 110);
  padding: 15px;
  color: white;
  font-weight: bold;

  font-family: 'Hind Siliguri', sans-serif;
}

.copyImg {
  height: 20px;
  cursor: pointer;
}

.result {
  display: flex;
  justify-content: center;
}

.loading {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.noData {
  background-color: rgb(255, 144, 144);
  text-align: center;
  padding: 18px;
  color: white;
  font-family: 'Hind Siliguri', sans-serif;
  border-radius: 3px;
}

/* Nabar */
.navbarLogo {
  width: 20px;
  height: 20px;
  margin: 5px;
}

.navbarText {
  font-family: 'Trispace', sans-serif;
  color: white;
  font-size: 20px;
  margin: 5px;
}

.navbar {
  display: flex;
  padding-left: 20px;
  background-color: rgb(19, 180, 110);
  padding-top: 10px;
}

.headBody {
  display: flex;
  justify-content: center;
  background-color: rgb(19, 180, 110);
  width: 100%;
}

.header {
  color: white;
  font-size: 90px;
  margin: 40px;
  margin-top: 70px;
  font-family: 'Fredoka One', cursive;
  -webkit-animation: text-pop-up-top 6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: text-pop-up-top 6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }

  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}

@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }

  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}

/* Footer */
.footerText {
  font-size: 35px;
  text-align: center;
  margin-top: 30px;
  font-family: 'Trispace', sans-serif;
  color: rgb(19, 180, 110);
  margin-bottom: 10px;
}

.footerIcon {
  display: flex;
  justify-content: center;
}

.footer {
  margin-bottom: 60px;
}

.icon {
  width: 30px;
  height: 30px;
  margin: 5px;
  cursor: pointer;
}

.iconText {
  text-align: center;
  font-size: 10px;
  margin: 10px;
  font-family: 'Trispace', sans-serif;
  color: rgb(19, 180, 110);
  cursor: pointer;
  
}
.iconText:hover{
text-decoration: underline white;
}

/* About */
.about {
  color: black;
  margin: 20px;
  padding: 30px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

/* Contact */
.contact {
  display: flex;
  justify-content: center;
  border: rgb(19, 180, 110) solid 1px;
  margin-left: 40%;
  margin-right: 40%;
  padding: 10px;
  cursor: pointer;
  transition: 0.5s;

}

.contact:hover {
  font-size: 20px;
  padding: 11px;
  text-decoration: none;
}

.contactImg {
  width: 20px;
  height: 20px;
  margin-right: 7px;
}

.contactText {
  color: rgb(19, 180, 110);
  font-family: 'Trispace', sans-serif;
  text-decoration: underline white;
}

.contactText:hover {
text-decoration: underline white;
  transition: 0.5s;
}

@media only screen and (max-width: 600px) {

  .header {
    font-size: 60px;
  }

  .contact {
    margin-left: 20%;
    margin-right: 20%;
  }

  .inputText {
    display: none;
  }

  .input {
    margin-top: 40px;
  }
}
